## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,73.04,42,95,8.55,overcast clouds
1,1,Bluff,NZ,-46.6000,168.3333,53.80,62,100,5.88,overcast clouds
2,2,Narsaq,GL,60.9167,-46.0500,21.42,96,100,2.73,snow
3,3,Upernavik,GL,72.7868,-56.1549,-3.87,66,100,4.72,overcast clouds
4,4,Ilulissat,GL,69.2167,-51.1000,15.13,66,100,12.06,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                218
City                   218
Country                216
Lat                    218
Lng                    218
Max Temp               218
Humidity               218
Cloudiness             218
Wind Speed             218
Current Description    218
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df.dropna(inplace = True)

In [9]:
clean_df.count()

City_ID                216
City                   216
Country                216
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Itarema,BR,86.59,overcast clouds,-2.9248,-39.9167,
8,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
11,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,
12,Bac Lieu,VN,77.97,scattered clouds,9.2850,105.7244,
15,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,
17,Acapulco,MX,75.02,clear sky,16.8634,-99.8901,
18,Coruripe,BR,87.22,overcast clouds,-10.1256,-36.1756,
19,Sao Miguel,BR,89.92,overcast clouds,-5.4667,-35.3667,
21,Chuy,UY,87.12,few clouds,-33.6971,-53.4616,
32,Sola,VU,75.87,broken clouds,-13.8833,167.5500,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Itarema,BR,86.59,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
8,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
11,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
12,Bac Lieu,VN,77.97,scattered clouds,9.2850,105.7244,KhÃ¡ch sáº¡n SÃ i GÃ²n Báº¡c LiÃªu
15,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
642,Taganak,PH,80.74,overcast clouds,6.0833,118.3000,Taganak
645,Sarangani,PH,81.25,light rain,5.4033,125.4636,Ballistic Islet
651,Bemban,MY,76.80,few clouds,2.2684,102.3746,NeoHomeStay Gapam Lestari
658,Soyo,AO,84.25,broken clouds,-6.1349,12.3689,Hotel Mpampa
666,Sao Jose Da Coroa Grande,BR,86.11,overcast clouds,-8.8978,-35.1478,CrÃ´a Mares Hotel

In [13]:
hotel_df.count()

City                   216
Country                216
Max Temp               216
Current Description    216
Lat                    216
Lng                    216
Hotel Name             216
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(inplace = True) 
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Itarema,BR,86.59,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
8,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
11,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
12,Bac Lieu,VN,77.97,scattered clouds,9.2850,105.7244,KhÃ¡ch sáº¡n SÃ i GÃ²n Báº¡c LiÃªu
15,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [15]:
hotel_df.count()

City                   216
Country                216
Max Temp               216
Current Description    216
Lat                    216
Lng                    216
Hotel Name             216
dtype: int64

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))